{% extends 'crmapp/ch_base.html' %}
{% block body_block %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
     <input type="submit" class="btn btn-outline-primary" value="Create">
</form>
<table class="table">
    <tr>
        <td>Batch Code</td>
        <td>Course</td>
        <td>Start-Date</td>
        <td>Fees</td>
        <td>Status</td>
    </tr>
    {% for batch in page_obj %}
    <tr>
        <td>{{ batch.batch_code }}</td>
        <td>{{ batch.course_name }}</td>
          <td>{{ batch.start_date }}</td>
        <td>{{ batch.fees }}</td>
          <td>{{ batch.status }}</td>

         <td><a href="{% url 'batch_edit' batch.id %}" class="btn btn-primary btn-block">Edit</a> </td>
        <td><a href="{% url 'batch_delete' batch.id %}" class="btn btn-primary btn-block">Delete</a> </td>
    </tr>
    {% endfor %}
</table>
 <nav aria-label="..." style="margin-top: 5%;">
  <ul class="pagination">
      {% if page_obj.has_previous %}
       <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
       </li>
      {% else %}
      <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
      {% if i == page_obj.number %}
      <li class="page-item active"><a class="page-link">{{i}}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% endif %}
  </ul>
</nav>
{% endblock %}