{% extends 'crmapp/ch_base.html' %}
{% block body_block %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-outline-primary" value="Create">
</form>
<table class="table">
    <tr>
        <td>Courses</td>
        <td>Duration</td>
    </tr>
    {% for course in courses %}
    <tr>
        <td>{{ course.course_name }}</td>
        <td>{{ course.course_duration }}</td>
         <td><a href="{% url 'course_edit' course.id %}" class="btn btn-primary btn-block">Edit</a> </td>
        <td><a href="{% url 'course_delete' course.id %}"class="btn btn-primary btn-block">Delete</a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}